* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-rosa-claro);
}
:root {
    --bg-rosa-claro: #fddbce;
    --bg-rosa-claro1: #fddbce;
    --Verde-agua: #B6E5DA;
    
}
#barra-nav {
    position:sticky; /* fixa a barra no topo*/
    top: 0;
    z-index: 10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    background-image: linear-gradient(to right, var(--bg-rosa-claro1), var(--bg-rosa-claro));
    padding: 0;
}
.navbar-brand img {
    height: 100px;
    padding-left: 20px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: var(--branco);
    font-weight: 700;
    float: right;
    text-align: left;
}
/* ------------------home-----------------*/
#banner{
    background-image: linear-gradient(to right, var(--bg-rosa-claro1), var(--bg-rosa-claro));
    color: var(--branco);
    padding-top: 5%;
}
#banner a {
    color: var(--branco);
    text-decoration: none;
}
.titulo_promo {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botao_play {
    width: 45px;
    margin: 20px;
}
.img-baixo {
    width: 100%;
}

/* ********* sobre ********* */
#sobre {
    padding: 80px 0;
}
.linha {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sobre-col-1 {
    flex-basis: 35%;
}
.sobre-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.sobre-col-2 {
    flex-basis: 60%;
}
.subtitulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--branco);
}
.aba-titulos {
    display: flex;
    margin: 20px 0 40px;
}
.aba-links {
    margin: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.aba-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--magenta);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.aba-links.link-ativo::after {
    width: 50%;
}
.aba-conteudos ul li {
    list-style: none;
    margin: 10px 0;
}
.aba-conteudos ul li span {
    color: var(--magenta);
    font-size: 14px;
    
}
.aba-conteudos {
    display: none;
}
.aba-conteudos.aba-ativa {
    display: block;
}
.teste /*sobre*/
 {
    background-image: linear-gradient(to right, var(--bg-rosa-claro1), var(--bg-rosa-claro));
}

/* ********* vitrini ********* */
.vitrini img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    
}
.vitrini {
    border-radius: 10px;
    position: relative;
    overflow: hidden; /* o conteudo que ultrapassar os limites do elemento serão ocultados*/
    margin-top: 60px;
}
.vitrini_texto {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(120, 189, 144, 0.6),var(--Verde-agua));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.vitrini:hover .vitrini_texto {
    height: 100%;
}
.vitrini:hover img {
    transform: scale(1.1);
}

/*-- --------- Customização ---------- --*/
#customizacao {
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}


/*-- --------- Doação ---------- --*/
#doacao {
    margin: 60px 0;
    left: auto;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.doacao img {
    height: 300px;
    width: auto;
    margin-left: 20px;
    border-radius: 10px;
}



/* -- -------- comunidade -------- --*/
#comunidade {
    margin: 50px 0 ;
    
}
.comunidade {
    border-left: 4px solid var(--traco-titulo);
    margin: 50px 0;
    background-color: #f1b3a8;
    border-radius: 4%;
    margin-left: 30px;
}
.comunidade img {
    height: 60px;
    width: 60px;
    border-radius: 80%; /*arredondamento da foto */
    margin: 0 10px;
}
.cargo-comunidade {
    display: inline-block;
    font-size: 12px;

}
/* -- ------------ rodape ------------- --*/
#rodape {
    background-image: linear-gradient(to right, var(--bg-nave-Bar-roxo-claro), var(--bg-nave-Bar-roxo-escuro));
    color: var(--branco);
    
}
.rodape-img {
    height: 80%;
    padding: 50px 30px;
    margin: 0;
    }
    .rodape-caixa img {
        height: 60px;
        margin-bottom: 20px;
    }
     
    .rodape-caixa .bi {
        margin-right: 8px;
        font-size: 25px;
        width: 25px;
    }
    .rodape-caixa .formulario {
        box-shadow: none;
        border: none;
        font-size: 12px;
        padding: 5px;
        border-radius: 0px;
        margin-top: 25px;
        max-width: 250px;
    }
    .rodape-caixa .btn-primary {
        box-shadow: none;
        padding: 8px 25px;
        border: none;
        border-radius: 20px;
        margin-top: 20px;
        background-image: linear-gradient(to right, var(--bg-nave-Bar-roxo-claro), var(--bg-nave-Bar-roxo-escuro));
    }
    .copy {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        background-image: linear-gradient(to right, var(--bg-nave-Bar-roxo-claro), var(--bg-nave-Bar-roxo-escuro));
        font-weight: 300;
        margin-top: 20px;
    }
    .copy .bi {
        color: var(--vermelho);
    }
    .contato_direita {

    }
    .table {
        background-color: #B6E5DA;
        
    }
    .col-md-10 {
        background-color: #B6E5DA;
        
    }
    .img-fluid {
        
    }

